<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <h3>Home</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        reiciendis architecto tempore consequatur! Soluta commodi explicabo
        reprehenderit dolorem quasi, veniam ratione, aperiam, quaerat inventore
        ipsum alias nihil doloremque aspernatur eius provident? Harum aperiam
        dolore sapiente quibusdam quia. Sequi officia odio aperiam ad!
        Reprehenderit possimus explicabo at illo enim commodi impedit magni,
        pariatur porro, beatae error corrupti eos amet nostrum vel consequuntur
        ut perferendis eveniet eius qui nemo. Libero molestiae sed eveniet
        mollitia itaque unde culpa, expedita dicta blanditiis voluptatibus
        dolores sint distinctio maxime dignissimos pariatur dolor laborum nobis
        error ratione. Quia sapiente dignissimos, molestiae architecto dolor
        optio consectetur tempore placeat!
      </p>
    </div>
    <div class="col-6">
      <img src="https://via.placeholder.com/100x80" width="100%" alt="">
    </div>
  </div>
</div>
