<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/80x50" alt="">
        <div class="card-body">
          <h5>Mobile</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolores rem libero consequuntur fuga autem tenetur! Veritatis saepe soluta sapiente.</p>
          <button class="btn btn-info" [routerLink]="['mobile']">Know More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
       <div class="card">
         <img src="https://via.placeholder.com/80x50" alt="">
        <div class="card-body">
          <h5>Television</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolores rem libero consequuntur fuga autem tenetur! Veritatis saepe soluta sapiente.</p>
          <button class="btn btn-info" [routerLink]="['tv']">Know More</button>
        </div>
      </div>
    </div>
  </div>
</div>
