/* You can add global styles to this file, and also import other style files */

input.ng-invalid.ng-touched {
  border-color: red;
  box-shadow: 0px 0px 2px inset red;
}

table {
  table-layout: inherit;
}